# Unsupervised Learning Trading Strategy

In [45]:
from statsmodels.regression.rolling import RollingOLS 
import pandas_datareader.data as web 
import matplotlib.pyplot as plt 
import  statsmodels.api as sm 
import pandas as pd 
import numpy as np 
import datetime as dt 
import yfinance as yf 
import pandas_ta
import warnings 
warnings.filterwarnings('ignore') 

sp500 = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]

sp500['Symbol'] = sp500['Symbol'].str.replace('.', '-')

symbols_list = sp500['Symbol'].unique().tolist()  

end_date = '2023-09-27' 

start_date = pd.to_datetime(end_date) - pd.DateOffset(365*8)

df = yf.download(tickers=symbols_list, start=start_date, end=end_date).stack()

df.index.names = ['date', 'ticker'] 
df.columns = df.columns.str.lower() 

df

[*********************100%%**********************]  503 of 503 completed

3 Failed downloads:
['SOLV', 'GEV', 'VLTO']: Exception("%ticker%: Data doesn't exist for startDate = 1443499200, endDate = 1695787200")

Price               adj close       close        high         low        open  \
date       ticker
2015-09-29 A        31.483562   33.740002   34.060001   33.240002   33.360001
           AAL      37.361622   39.180000   39.770000   38.790001   39.049999
           AAPL     24.651131   27.264999   28.377501   26.965000   28.207500
           ABBV     36.334904   52.790001   54.189999   51.880001   53.099998
           ABT      33.478703   39.500000   40.150002   39.029999   39.259998
...                       ...         ...         ...         ...         ...
2023-09-26 XYL      88.736305   89.519997   90.849998   89.500000   90.379997
           YUM     122.211014  124.010002  124.739998  123.449997  124.239998
           ZBH     111.782722  112.459999  117.110001  112.419998  116.769997
           ZBRA    223.960007  223.960007  226.649994  222.580002  225.970001
           ZTS     175.547699  176.869995  178.449997  176.270004  176.580002

Price                   volume
date       ticker
2015-09-29 A         2252400.0
           AAL       7478800.0
           AAPL    293461600.0
           ABBV     12842800.0
           ABT      12287500.0
...                        ...
2023-09-26 XYL       1322400.0
           YUM       1500600.0
           ZBH       3610500.0
           ZBRA       355400.0
           ZTS       1463200.0

[988898 rows x 6 columns]

## Features and technical indicators for each stock.

* Garman-Klass Volatility
* RSI
* Bollinger Bands
* ATR
* MACD
* Dollar Volume

In [46]:
import numpy as np
  
df['garman_klass_vol'] = ((np.log(df['high'])-np.log(df['low']))**2)/2-(2*np.log(2)-1)*((np.log(df['adj close'])-np.log(df['open']))**2)

df['rsi'] = df.groupby(level=1)['adj close'].transform(lambda x: pandas_ta.rsi(close=x, length=20))

df['bb_low'] = df.groupby(level=1)['adj close'].transform(lambda x: pandas_ta.bbands(close=np.log1p(x), length=20).iloc[:,0])
                                                          
df['bb_mid'] = df.groupby(level=1)['adj close'].transform(lambda x: pandas_ta.bbands(close=np.log1p(x), length=20).iloc[:,1])
                                                          
df['bb_high'] = df.groupby(level=1)['adj close'].transform(lambda x: pandas_ta.bbands(close=np.log1p(x), length=20).iloc[:,2])

def compute_atr(stock_data):
    atr = pandas_ta.atr(high=stock_data['high'],
                        low=stock_data['low'],
                        close=stock_data['close'],
                        length=14)
    return atr.sub(atr.mean()).div(atr.std())

df['atr'] = df.groupby(level=1, group_keys=False).apply(compute_atr)

def compute_macd(close):
    macd = pandas_ta.macd(close=close, length=20).iloc[:,0]
    return macd.sub(macd.mean()).div(macd.std())

df['macd'] = df.groupby(level=1, group_keys=False)['adj close'].apply(compute_macd)

df['dollar_volume'] = (df['adj close']*df['volume'])/1e6

df

Price               adj close       close        high         low        open  \
date       ticker
2015-09-29 A        31.483562   33.740002   34.060001   33.240002   33.360001
           AAL      37.361622   39.180000   39.770000   38.790001   39.049999
           AAPL     24.651131   27.264999   28.377501   26.965000   28.207500
           ABBV     36.334904   52.790001   54.189999   51.880001   53.099998
           ABT      33.478703   39.500000   40.150002   39.029999   39.259998
...                       ...         ...         ...         ...         ...
2023-09-26 XYL      88.736305   89.519997   90.849998   89.500000   90.379997
           YUM     122.211014  124.010002  124.739998  123.449997  124.239998
           ZBH     111.782722  112.459999  117.110001  112.419998  116.769997
           ZBRA    223.960007  223.960007  226.649994  222.580002  225.970001
           ZTS     175.547699  176.869995  178.449997  176.270004  176.580002

Price                   volume  garman_klass_vol        rsi    bb_low  \
date       ticker
2015-09-29 A         2252400.0         -0.000998        NaN       NaN
           AAL       7478800.0         -0.000443        NaN       NaN
           AAPL    293461600.0         -0.005712        NaN       NaN
           ABBV     12842800.0         -0.054655        NaN       NaN
           ABT      12287500.0         -0.009402        NaN       NaN
...                        ...               ...        ...       ...
2023-09-26 XYL       1322400.0         -0.000018  26.146736  4.485761
           YUM       1500600.0         -0.000051  36.057222  4.811707
           ZBH       3610500.0          0.000099  31.893262  4.748085
           ZBRA       355400.0          0.000133  29.494977  5.400991
           ZTS       1463200.0          0.000062  42.623472  5.156108

Price                bb_mid   bb_high       atr      macd  dollar_volume
date       ticker
2015-09-29 A            NaN       NaN       NaN       NaN      70.913576
           AAL          NaN       NaN       NaN       NaN     279.420098
           AAPL         NaN       NaN       NaN       NaN    7234.160250
           ABBV         NaN       NaN       NaN       NaN     466.641901
           ABT          NaN       NaN       NaN       NaN     411.369558
...                     ...       ...       ...       ...            ...
2023-09-26 XYL     4.567684  4.649607  0.033800 -2.159188     117.344890
           YUM     4.841672  4.871637  0.142547 -1.363695     183.389847
           ZBH     4.787752  4.827420 -0.381708 -0.881067     403.591519
           ZBRA    5.539167  5.677342 -0.057389 -1.600791      79.595386
           ZTS     5.214922  5.273735  0.651515 -1.188279     256.861393

[988898 rows x 14 columns]

## 3. Aggregate to monthly level and filter top 150 most liquid stocks for each month.

* To reduce training time and experiment with features and strategies, convert the business-daily data to month-end frequency.

In [47]:
last_cols = [c for c in df.columns.unique(0) if c not in ['dollar_volume', 'volume', 'open',
                                                          'high', 'low', 'close']]

data = (pd.concat([df.unstack('ticker')['dollar_volume'].resample('M').mean().stack('ticker').to_frame('dollar_volume'),
                   df.unstack()[last_cols].resample('M').last().stack('ticker')],
                  axis=1)).dropna()

data

                   dollar_volume   adj close  garman_klass_vol        rsi  \
date       ticker
2015-11-30 A          135.992827   39.023197         -0.001992  73.421504
           AAL        287.915804   39.429935         -0.000966  40.718988
           AAPL      4023.983984   26.854136         -0.003307  55.537309
           ABBV       337.563948   40.393547         -0.059549  49.376931
           ABT        211.659056   38.293568         -0.011216  56.962537
...                          ...         ...               ...        ...
2023-09-30 OTIS       154.361752   78.356506         -0.000097  33.116259
           ABNB      1633.500725  132.279999          0.000213  44.494127
           CEG        196.670370  107.862030          0.000131  55.245481
           GEHC       212.275852   66.130219          0.000185  40.922338
           KVUE       670.804320   20.006195         -0.000159  35.706312

                     bb_low    bb_mid   bb_high       atr      macd
date       ticker
2015-11-30 A       3.545992  3.618440  3.690888 -1.033887  0.567158
           AAL     3.672028  3.749832  3.827636  0.190822 -0.418771
           AAPL    3.281679  3.324991  3.368302 -0.967900 -0.142790
           ABBV    3.726695  3.774943  3.823191 -0.526809  0.145678
           ABT     3.656055  3.677909  3.699763 -1.064842  0.335557
...                     ...       ...       ...       ...       ...
2023-09-30 OTIS    4.370137  4.415425  4.460712 -1.028320 -1.534535
           ABNB    4.857047  4.940924  5.024801 -1.006939 -0.037854
           CEG     4.652147  4.692320  4.732493 -0.436215  0.366876
           GEHC    4.155436  4.212972  4.270508 -0.893478 -1.116463
           KVUE    3.014275  3.089221  3.164168 -0.899746 -1.435621

[46692 rows x 9 columns]

* Calculating 5-year rolling average of dollar volume for each stocks before filtering.

In [48]:
data['dollar_volume'] = (data.loc[:, 'dollar_volume'].unstack('ticker').rolling(5*12, min_periods=12).mean().stack())

data['dollar_vol_rank'] = (data.groupby('date')['dollar_volume'].rank(ascending=False))

data = data[data['dollar_vol_rank']<150].drop(['dollar_volume', 'dollar_vol_rank'], axis=1)

data

                    adj close  garman_klass_vol        rsi    bb_low  \
date       ticker
2016-10-31 AAL      39.134335         -0.000176  62.203558  3.604673
           AAPL     26.212475         -0.002468  49.891080  3.294237
           ABBV     40.245121         -0.046691  27.477868  3.753446
           ABT      34.293457         -0.007492  38.008833  3.554632
           ACN     103.569611         -0.004643  53.823620  4.637342
...                       ...               ...        ...       ...
2023-09-30 WMT      53.597538         -0.000041  54.722538  3.984976
           XOM     113.372101         -0.000065  59.440183  4.687091
           MRNA     98.120003          0.000146  38.747314  4.582514
           UBER     44.270000          0.000441  45.005268  3.806654
           ABNB    132.279999          0.000213  44.494127  4.857047

                     bb_mid   bb_high       atr      macd
date       ticker
2016-10-31 AAL     3.655494  3.706314  0.402199  1.131596
           AAPL    3.323117  3.351997 -1.038688 -0.195978
           ABBV    3.807610  3.861774 -0.893132 -0.760593
           ABT     3.605106  3.655580 -1.035224 -0.650887
           ACN     4.648980  4.660617 -0.996806 -0.135457
...                     ...       ...       ...       ...
2023-09-30 WMT     4.002446  4.019915 -0.196381  0.399459
           XOM     4.727187  4.767283  0.601335  1.400623
           MRNA    4.685332  4.788149 -0.529511 -0.376899
           UBER    3.862227  3.917801 -0.746098 -0.133973
           ABNB    4.940924  5.024801 -1.006939 -0.037854

[12516 rows x 8 columns]