In [33]:
from statsmodels.regression.rolling import RollingOLS 
import pandas_datareader.data as web 
import matplotlib.pyplot as plt 
import  statsmodels.api as sm 
import pandas as pd 
import numpy as np 
import datetime as dt 
import yfinance as yf 
import pandas_ta
import warnings 
warnings.filterwarnings('ignore') 

sp500 = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]

sp500['Symbol'] = sp500['Symbol'].str.replace('.', '-')

symbols_list = sp500['Symbol'].unique().tolist()  

end_date = '2023-09-27' 

start_date = pd.to_datetime(end_date) - pd.DateOffset(365*8)

df = yf.download(tickers=symbols_list, start=start_date, end=end_date).stack()

df.index.names = ['date', 'ticker'] 
df.columns = df.columns.str.lower() 

df

[*********************100%%**********************]  503 of 503 completed

3 Failed downloads:
['VLTO', 'GEV', 'SOLV']: Exception("%ticker%: Data doesn't exist for startDate = 1443499200, endDate = 1695787200")
[*********************101%%**********************]  508 of 503 completed

Price               adj close       close        high         low        open  \
date       ticker
2015-09-29 A        31.483553   33.740002   34.060001   33.240002   33.360001
           AAL      37.361618   39.180000   39.770000   38.790001   39.049999
           AAPL     24.651133   27.264999   28.377501   26.965000   28.207500
           ABBV     36.334900   52.790001   54.189999   51.880001   53.099998
           ABT      33.478703   39.500000   40.150002   39.029999   39.259998
...                       ...         ...         ...         ...         ...
2023-09-26 XYL      88.736298   89.519997   90.849998   89.500000   90.379997
           YUM     122.211006  124.010002  124.739998  123.449997  124.239998
           ZBH     111.782722  112.459999  117.110001  112.419998  116.769997
           ZBRA    223.960007  223.960007  226.649994  222.580002  225.970001
           ZTS     175.547684  176.869995  178.449997  176.270004  176.580002

Price                   volume
date       ticker
2015-09-29 A         2252400.0
           AAL       7478800.0
           AAPL    293461600.0
           ABBV     12842800.0
           ABT      12287500.0
...                        ...
2023-09-26 XYL       1322400.0
           YUM       1500600.0
           ZBH       3610500.0
           ZBRA       355400.0
           ZTS       1463200.0

[988898 rows x 6 columns]

[*********************************152%%***********************************]  767 of 503 completed

In [37]:
* Garman-KlassVolatility
* RSI
* Bollinger Bands
* ATR
* MACD
* Dollar Volume

SyntaxError: invalid syntax (50878247.py, line 3)